@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: whitesmoke;
    color: #1E90FF;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}
#title div{
    display: inline-block ;
    text-align: center;
}

#img-logo{
    width: 85px;
    display: inline-block;
    vertical-align: bottom;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: #1E90FF;
}

a:hover{
    color: #1E90FF;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid #1E90FF;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: #1E90FF;
    color: white;
}

h1{
    font-weight: bold;
    
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: 'Roboto', sans-serif;
}

span{
    color: #1E90FF;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color:#1E90FF;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #1E90FF;
    font-size: 15px;
}

#div-img-seguradoras img {
    width: 100px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 100%;
    background-color: whitesmoke;
    color: white;
    text-align: center;
}