body{
    background-color: whitesmoke;
    color: #87CEFA;
    font-family: 'Courier New', Courier, monospace;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}
#title div{
    display: inline-block ;
    text-align: center;
}

#img-logo{
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: #87CEFA;
}

a:hover{
    color: #1E90FF;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid #87CEFA;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: #87CEFA;
    color: white;
}

h1{
    font-weight: bold;
    
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: 'Courier New', Courier, monospace;
}

span{
    color: #87CEFA;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color:#87CEFA;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #87CEFA;
    font-size: 15px;
}